/* CSS Global Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    overflow-x: hidden;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', 'Arial', 'sans-serif';
    font-size: 1rem;
    line-height: 1.6;
    min-height: 100vh;
    max-width: 100vw;
    background-color: #0D0D0D; /* Very Dark Gray/Black */
    color: #E0E0E0; /* Lighter Silver */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    color: #E0E0E0; /* Lighter Silver */
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #FFD700; /* Gold */
    font-weight: 700;
}

img {
    max-width: 100%;
    height: auto;
}

/* Home Page */
.index-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "hero"
        "intro"
        "memberships"
        "classes"
        "opening-times"
        "google-map"
        "footer";
    gap: 16px;
    padding: 5px;
    margin: 0 auto;
    max-width: 100vw;
}

header, footer, section, nav {
    max-width: 100%;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0D0D0D; /* Very Dark Gray/Black */
    color: #E0E0E0; /* Lighter Silver */
    box-shadow: 0 2px 1px #E0E0E0; /* Lighter Silver */
}

.hidden-heading {
    display: none;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Responsive Logo */
.header-logo {
    height: clamp(47px, 10vw, 53px); /* Responsive height scaling */
    width: clamp(197px, 40vw, 240px); /* Responsive width scaling */
    margin-right: 15px;
}

/* Mobile Menu Toggle Button */
.menu-toggle-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
    position: relative;
    z-index: 200;
    padding: 10px;
    font-size: clamp(1.7em, 2.5vw, 1.95em);
}

#menu-toggle {
    display: none;
}

.menu-toggle-label i {
    font-size: inherit;
    color: #E0E0E0; /* Lighter Silver */
}

.menu-toggle-label i:hover {
    color: #FFD700; /* Gold */
}

/* Navigation Menu */
nav {
    display: none;
}

#nav-menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#nav-menu li a {
    text-decoration: none;
    color: #E0E0E0; /* Lighter Silver */
    white-space: nowrap;
    padding: 10px;
    transition: color 0.3s, background-color 0.3s;
}

#nav-menu li a:hover {
    background-color: #FFD700; /* Gold */
    text-decoration: underline;
    color: #0D0D0D; /* Very Dark Gray/Black */
}

/* Mobile Navigation Menu */
#menu-toggle:checked + .menu-toggle-label + nav {
    display: block;
    position: absolute;
    top: clamp(50px, 10vw, 60px);
    right: 0;
    background-color: #0D0D0D; /* Very Dark Gray/Black */
    width: 200px;
}

#menu-toggle:checked + .menu-toggle-label + nav #nav-menu {
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

/* General Section Styles */
.intro,
.memberships,
.classes,
.google-map,
img {
    width: 100vw;
    height: auto;
}

/* Hero Section Styles */
.hero {
    grid-area: hero;
    position: relative;
    background-color: #0D0D0D; /* Very Dark Gray/Black */
    background: url('/assets/images/index/hero-index.png') no-repeat center center/cover;
    color: #E0E0E0; /* Lighter Silver */
    overflow: hidden; /* Ensure content stays within the hero section */
    min-height: 500px;
    max-width: 100vw;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 13, 13, 0.5); /* Very Dark Gray/Black with 50% transparency */
    z-index: 1; /* Ensure it sits above the background but below the content */
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center content */
    text-align: center;
    color: #E0E0E0; /* Lighter Silver */
    z-index: 2; /* Ensure it sits above the overlay */
}

.hero h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: #FFD700; /* Gold for more visibility */
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 1rem;
    background-color: #FFD700; /* Gold */
    color: #0D0D0D; /* Very Dark Gray/Black */
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    z-index: 2; /* Ensure it sits above the overlay */
}

.cta-button:hover {
    background-color: #DAA520; /* Goldenrod on hover */
    color: #0D0D0D; /* Very Dark Gray/Black */
}

/* Intro Section */
.intro {
    grid-area: intro;
    background-color: #0D0D0D; /* Very Dark Gray/Black */
    color: #E0E0E0; /* Lighter Silver */
    padding: 2rem;
    text-align: center;
}

.intro p {
    font-size: 120%;
}

/* Membership Section Styles  */
.memberships {
    grid-area: memberships;
    background-color: #0D0D0D; /* Very Dark Gray/Black */
    color: #E0E0E0; /* Lighter Silver */
    padding: 2rem;
    text-align: center;
    width: 100vw;
    overflow-x: auto;
}

.membership-table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    table-layout: auto;
}

.membership-table th,
.membership-table td {
    border: 1px solid #E0E0E0;
    padding: 15px;
    text-align: center;
}

.membership-table th {
    background-color: #1d1d1d;
    color: #FFD700; /* Gold */
    font-weight: bold;
    text-transform: uppercase;
}

.membership-table td {
    background-color: #282828;
    color: #E0E0E0;
}

.membership-table td:first-child {
    text-align: left;
}

.membership-button {
    background-color: #FFD700; /* Gold */
    color: #0D0D0D; /* Very Dark Gray/Black */
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
}

.membership-button:hover {
    background-color: #DAA520; /* Goldenrod on hover */
    color: #0D0D0D; /* Very Dark Gray/Black */
}

/* Classes Section Styles */
.classes-overview {
    background-color: #0D0D0D; /* Very Dark Gray/Black */
    color: #E0E0E0; /* Lighter Silver */
    padding: 2rem;
    text-align: center;
}

.classes-overview h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #FFD700; /* Gold */
    font-weight: 800;
}

.classes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust grid columns */
    gap: 1rem;
    margin-top: 2rem;
}

.class-card {
    background-color: #1d1d1d;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px; /* Ensure cards don’t get too wide */
    margin: 0 auto; /* Center the cards */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.class-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.class-card h3 {
    font-size: 1.25rem;
    color: #FFD700; /* Gold */
    margin-top: 0.5rem;
}

.class-card p {
    font-size: 1rem;
    color: #E0E0E0; /* Lighter Silver */
    margin-top: 0.5rem;
    flex-grow: 1; /* Take up remaining space */
}

.class-card .details-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: #FFD700; /* Gold */
    color: #0D0D0D; /* Very Dark Gray/Black */
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    align-self: center;
}

.class-card .details-button:hover {
    background-color: #DAA520; /* Goldenrod */
    color: #0D0D0D; /* Very Dark Gray/Black */
}

/* Opening Times Section Styles */
.opening-times {
    grid-area: opening-times;
    background-color: #0D0D0D; /* Very Dark Gray/Black */
    color: #E0E0E0; /* Lighter Silver */
    padding: 2rem;
    text-align: center;
    margin-top: 2rem;
}

.opening-times-table {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
}

.opening-times-table th,
.opening-times-table td {
    border: 1px solid #E0E0E0;
    padding: 15px;
    text-align: center;
    background-color: #1d1d1d; /* Darker background for table */
}

.opening-times-table th {
    background-color: #1d1d1d;
    color: #FFD700; /* Gold */
    font-weight: bold;
}

.opening-times-table td {
    background-color: #282828;
    color: #E0E0E0;
}

/* Google Maps Styles */
.google-map {
    grid-area: google-map;
    background-color: #0D0D0D; /* Very Dark Gray/Black */
    color: #E0E0E0; /* Lighter Silver */
    padding: 2rem;
    text-align: center;
}

.map-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 1rem;
    overflow: hidden;
}

.map-container iframe {
    width: 100%;
    border: 0;
}
/* End Of Home Page */

/* Classes Page */
.classes-page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "intro"
        "classes"
        "footer";
    gap: 16px;
    padding: 5px;
    margin: 0 auto;
    max-width: 100vw;
}

/* Intro */
.classes-intro {
    grid-area: intro;
    background-color: #0D0D0D; /* Very Dark Gray/Black */
    color: #E0E0E0; /* Lighter Silver */
    padding: 2rem;
    margin-top: 60px;
    text-align: center;
}

.classes-intro h2 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: #FFD700; /* Gold for more visibility */
}

/* Main Classes Section */
.main-classes {
    grid-area: classes;
    background-color: #0D0D0D; /* Very Dark Gray/Black */
    color: #E0E0E0; /* Lighter Silver */
    padding: 2rem;
    text-align: center;
}

/* First Div */
.main-class-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust grid columns */
    gap: 1rem;
    margin-top: 2rem;
}

/* Second Div */
.main-class-card {
    background-color: #1d1d1d;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px; /* Ensure cards don’t get too wide */
    margin: 0 auto; /* Center the cards */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-class-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.main-class-card h3 {
    font-size: 1.25rem;
    color: #FFD700; /* Gold */
    margin-top: 0.5rem;
}

.main-class-card p {
    font-size: 1rem;
    color: #E0E0E0; /* Lighter Silver */
    margin-top: 0.5rem;
    flex-grow: 1; /* Take up remaining space */
}

.main-class-book-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: #FFD700; /* Gold */
    color: #0D0D0D; /* Very Dark Gray/Black */
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    align-self: center;   
}

.main-class-book-button:hover {
    background-color: #DAA520; /* Goldenrod */
    color: #0D0D0D; /* Very Dark Gray/Black */
}
/* End Of Classes Page */

/* Contact Page */
.contact-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "contact"
        "footer";
    gap: 16px;
    padding: 5px;
    margin: 0 auto;
    max-width: 100vw;
}

/* Footer Styles */
footer {
    grid-area: footer;
    background-color: #0D0D0D; /* Very Dark Gray/Black */
    color: #E0E0E0; /* Lighter Silver */
    box-shadow: 0px -2px 1px #E0E0E0; /* Lighter Silver */
    padding: 2rem;
    text-align: center;
    display: flex;
    gap: 14px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

/* Social Media Icons */
#social-media {
    display: flex;
    gap: 16px;
    justify-content: center;
    list-style-type: none;
}

#social-media i {
    font-size: 1.6em;
    color: #E0E0E0; /* Lighter Silver */
}

#social-media i:hover {
    color: #FFD700; /* Gold */
}

/* Home Page Media Queries */
@media (max-width: 768px) {
    .membership-table th, .membership-table td {
        padding: 10px;
    }

    .membership-table {
        font-size: 0.9rem;
    }

    .classes-grid {
        grid-template-columns: 1fr;
    }

    .opening-times-table th, .opening-times-table td {
        padding: 10px;
    }

    .opening-times-table {
        font-size: 0.9rem;
    }
}

@media (min-width: 580px) {
    classes.grid {
        flex-direction: column;
    }

    .class-card {
        min-width: 80vw;
    }
}

@media (min-width: 768px) {
    .container {
        padding: 10px;
    }

    nav {
        display: block;
    }

    .menu-toggle-label {
        display: none; /* Hide hamburger icon on larger screens */
    }

    #nav-menu {
        flex-direction: row;
        gap: 16px;
    }
}

@media (min-width: 769px) {
    .classes-grid {
        display: flex;
        flex-direction: column;
    }

    .class-card {
        min-width: 80vw;
    }
}

/* Classes Page Media Queries */
@media (min-width: 500px) {
    .main-class-card {
        min-width: 85vw;
    }
}